<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ligas_unir</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>


        <mapping class= "org.mcm.gestorligas.model.Liga"></mapping>
        <mapping class="org.mcm.gestorligas.model.Jugador"></mapping>
        <mapping class="org.mcm.gestorligas.model.Entrenador"></mapping>
        <mapping class="org.mcm.gestorligas.model.Equipo"></mapping>
        <mapping class="org.mcm.gestorligas.model.Posicion"></mapping>
        <mapping class="org.mcm.gestorligas.model.Usuario"></mapping>
        <mapping class="org.mcm.gestorligas.model.Competicion"></mapping>

    </session-factory>
</hibernate-configuration>